//filtros

	.uno{
		#filtros{
			background-color:transparent;
			color:black;
			border-radius:7%;
			border:1px solid black;
		}
		#cancelar{
			background-color:transparent;
			color:black;
			border-radius:7%;
			border:1px solid black;			
		}
		#aplicar{
			background-color:#F5565B;
			color:white;
			border-radius:7%;
			border:1px solid #F5565B;
		}
	}

//mapa