
	/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX*/
	#primerSection{
		//background-image:url(../dist/img/fondo.jpg);
		height:500px;
	}

	#primerSection_conten-input{
		background-color:whitesmoke;
		border-radius:10px;
	}
	/*CALENDARIO*/
	.calendarios{
		width:50px;
		display:inline-block;
	}
	.conten-info{
		border:1px solid black;
	}



 /*FIN INDEX FIN INDEX FIN INDEX FIN INDEX FIN INDEX FIN INDEX*/