
	/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX*/
	#primerSection{
		background-image:url(../img/fondo2.jpg);
		height:550px;
		background-repeat:none;
		background-position:center;
		background-size:cover;
	}

	#primerSection_conten-input{
		background-color:whitesmoke;
		border-radius:15px;
		margin-top:100px;
	}
	/*CALENDARIO*/
	.calendarios{
		width:50px;
		display:inline-block;
	}
	.calendario-salida{
        position:relative;
        top:50px;
	}
	.conten-info{
		border:1px solid black;
	}



 /*FIN INDEX FIN INDEX FIN INDEX FIN INDEX FIN INDEX FIN INDEX*/