.btn-blanco{
		border: 2px solid #D7DBDD; 
		border-radius: 10px;
		padding: 10px 20px 10px 20px; 
		color: #707B7C;  
	}
	.columna{
		padding: 10px 20px 10px 20px;
	}
	.foto-slider-1{
		width: 100%;
	}
	.fondo{
		height: 0px;
		color: white;
	}
	.fin{
		line-height: normal;
		margin: 0px;
	}

	.parrafo-fin{
		margin-bottom: -8px;
	}

	.estrellas{
		color: blue;
	}

	.estrellitas{
		color: #E5E7E9;  
	}
